.navbar-inverse {
    color: #ffffff;
    background-color: #158cba;
    border-color: #127ba3;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}
.form-control:focus {
    border-color: #e7e7e7;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.075);
}

